 @font-face { font-family: BebasNeue; src: url('fonts/BebasNeue-Regular.otf'); } 
 @font-face { font-family: BebasNeue; font-weight: bold; src: url('fonts/BebasNeue-Bold.otf');}

 @font-face { font-family: Montserrat; src: url('fonts/Montserrat-Regular.otf'); } 
 @font-face { font-family: Montserrat; font-weight: bold; src: url('fonts/Montserrat-Bold.otf');}

 @font-face { font-family: AlfaSlabOne; src: url('fonts/AlfaSlabOne-Regular.ttf'); } 


